<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: "Not vewy fwiendly :("}) %>

<body>
    <%- include('includes/header') %>
    <main style="align-content: center;">
        <div class="error-wrapper">
            <h1>OnO</h1>
            <h2><%= message %></h2>
        </div>
    </main>
    <%- include('includes/footer') %>
</body>

</html>