<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: "Plan | Fwiendly"}) %>

<body>
    <%- include('includes/header') %>

    <main>
        <h1>Impressum</h1>
        <h4>Information according to § 5 TMG (Telemediengesetz)</h4>
        <h3>Website Owner / Operator:</h3>
        <p>
            Victor Strickmann <br>
            Fwiendly Industries <br>
            Flowtothestreet 69 <br>
            12345, Berlin <br>
            Germany <br>
        </p>
    
        <h3>Contact Information:</h3>
        <p>
            Email: contact@fwiendly.com
        </p>
    
        <h3>Resolution:</h3>
        <p>
            The European Commission provides a platform for online dispute resolution (ODR): [link to the ODR platform].
            Our email address can be found above in the contact information section.
        </p>
    
        <h3>Liability for Content:</h3>
        <p>
            As the website operator, we are responsible for our own content on these pages according to § 7 Abs.1 TMG.
            However,
            according to §§ 8 to 10 TMG, we are not obligated to monitor transmitted or stored third-party information or to
            investigate circumstances that indicate illegal activity. Obligations to remove or block the use of information
            under general laws remain unaffected. However, liability in this regard is only possible from the time of
            knowledge
            of a concrete infringement. Upon becoming aware of such violations, we will remove this content immediately.
        </p>
    
        <h3>Liability for Links:</h3>
        <p>
            Our site may contain links to external websites over which we have no control. Therefore, we cannot assume any
            responsibility for this external content. The respective provider or operator of the linked pages is always
            responsible for the content. The linked sites were checked for possible legal violations at the time of linking.
            Illegal content was not recognizable at the time of linking. However, a permanent control of the content of the
            linked pages is not reasonable without concrete evidence of a violation. If we become aware of any legal
            violations,
            we will remove such links immediately.
        </p>
    
        <h3>Copyright:</h3>
        <p>
            The content and works on these pages created by the site operators are subject to copyright law. Reproduction,
            processing, distribution, and any kind of exploitation outside the limits of copyright law require the written
            consent of the respective author or creator. Downloads and copies of this site are only permitted for private,
            non-commercial use. Insofar as the content on this site was not created by the operator, the copyrights of third
            parties are respected. Third-party content is marked as such. Should you nevertheless become aware of a
            copyright
            infringement, please inform us. Upon notification of violations, we will remove such content immediately.
        </p>
    </main>
</body>

</html>