<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: "Plan | Fwiendly"}) %>

<body>
    <%- include('includes/header') %>
    <main class="content">
        <div class="plans-wrapper">
            <h1>My Plan</h1>
            <div class="plans-grid">
                <div class="plan-step">
                    <img src="images/step1.png" alt="several stickers shown as a preview">
                    <div>
                        <h2>1. Create Stickers</h2>
                        <p>I have created Stickers, but I need more!!!
                            I can branch into a lot of emotions. <br><br>
                            Also my girlfwiend is a talented artist as well :)), maybe one day someone can buy her
                            stickers as well. </p>
                    </div>
                </div>
                <div class="plan-step">
                    <img src="images/step2.png" alt="Website mock-up showing the desired future outcome">
                    <div>
                        <h2>2. Create a sign-up page </h2>
                        <p>Since I have shown off my stickers to lots of people already, my goal is to create a sign-up
                            page, so they can get notified.
                            <br><br>
                            That is basically why the home page is the way that it is.
                        </p>
                    </div>
                </div>
                <div class="plan-step">
                    <img src="images/step3.png" alt="An enabled switch with uwu next to it">
                    <div>
                        <h2>3. UwUfy!! </h2>
                        <p>One of my goals and branding aspect is to have a switch that you can turn on and off to have
                            the whole website in uwu speech.
                            <br><br>
                            Thats >w< why there is a switch Icon *whispers to self* in the *boops your nose* headew.
                                :3</p>
                    </div>
                </div>
                <div class="plan-step">
                    <img src="images/step4.png" alt="An early stage mock-up where the user can buy stickers">
                    <div>
                        <h2>4. Build the actual website </h2>
                        <p>Building the actual website with all of its functionality is obviously a long time goal. But
                            I want to try to achieve it, be it next semester.</p>
                    </div>
                </div>
                <div class="plan-step">
                    <img src="images/step5.png" alt="Print + Sales">
                    <div>
                        <h2>5. Print and sell (hopefully) </h2>
                        <p>And then I actually have to produce, print, sell, deliver all stickers! <br><br>
                            On the long run I also want to give other students a platform to sell their work, that they
                            have produced for modules :)</p>
                    </div>
                </div>
                <div>
                    <h2>So much moooore</h2>
                    <p>Be it an animated series, pride editions, collaboration, t-shirts, digital sticker bundles, there
                        is still a lot I want to do.
                        But I have to go step after step :)</p>
                </div>
            </div>
    </main>
    <%- include('includes/footer') %>
</body>

</html>