<footer>
    <a class="footer-link" href="/legal">Legal</a>
    <a class="footer-link" target="_blank" href="https://www.instagram.com/fwiendly.shop">Instagram</a>
    <a class="footer-link" href="/admin">For Admins</a>
</footer>