<header>
    <img class="nav-logo-L" src="../images/Logo.png" alt="fwiendly Logo: Smiling cat with fwiendly text next to it.">
    <img class="nav-logo-XS-M" src="../images/CatOnlyLogo.png"
        alt="fwiendly Logo: Smiling cat with fwiendly text next to it.">
    <div id="nav-tabs">
        <a href="/home">Stickers</a>
        <a href="/plans">Plans</a>
        <a href="/stickers/sample">Product Page</a>
    </div>
    <div>
        <!-- I used IDs because I needed to "display:none" them and I didn't know how to call them in other ways. -->
        <button id="switch"><span class="material-icons">toggle_off</span></button>
        <button id="shopping-basket-button" onclick="openTab(event, 'Shopping Basket')"><span
                class="material-icons">shopping_basket</span></button>
        <button id="profile-button" onclick="openTab(event, 'Profile')"><span
                class="material-icons">account_circle</span></button>
        <button id="menu-button" onclick="openTab(event, 'Menu')"><span class="material-icons">menu</span></button>
    </div>
    </div>
</header>