@font-face {
    font-family: 'Comic Neue';
    src: url(../Comic_Neue/ComicNeue-Regular.ttf)
}

html {
    font-family: "Comic Neue";
}

body{
    background-color: #F5FAFB;
    display: grid;
    gap: 1em;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
 

header {
    position: sticky;
    top: 0;
    padding: 8px 24px 8px 24px;
    display: flex; 
    align-items: center; 
    border-bottom: 2px solid #CDD2D3; 
    flex-direction: row; 
    justify-content: space-between;
    background-color: #F5FAFB;
}

header:hover{
    animation-name: headerHoverAnimation;
    animation-duration: 150ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

header > div > button {
    background-color: #ffffff;
}

header > div > button:hover {
    background-color: #ded5d5;
}

h1 {
    color: #283133;

    /* fwen/display/large */
    font-size: 57px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px; /* 112.281% */
    letter-spacing: -0.25px;
}

h3 {
    color:  #283133;
    
    /* fwen/headline/small */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
}

input {
    padding: 8px;
}

.primary-button {
    background-color: #006874;
    color: #ffffff; 
    padding: 8px 12px;
    border-radius: 4px;
}

.hero {
    margin: 8.33%;
    padding: 4.16%;    
    border-radius: 24px; 
    border: 8px solid #283133;
}

.sticker-showcase {
    background-color: #EFF5F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
}

.sticker-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.sticker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 12px;
    background-color: #d5e5e8;
    padding: 1.5rem;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.30);
}

footer {
    background-color: #283133;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-link{
    color: #dce4e5;
}

header>div>a:link{
    color: #283133;
}

header>div>a:visited{
    color: #283133;
}

header>div>a:active{
    color: #006874;
    font-weight: bold;
}

.nav-logo-L {
    height: 32px; 
    width: auto;
}

.nav-logo-XS-M {
    height: 32px; 
    width: auto;
}

.plans-wrapper{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.plans-grid{
    display: flex;
    width: 55rem;
    padding-top: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.plan-step {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
}

.plan-step>img{
    width: 26.75rem;
    height: 15.75981rem;
    border-radius: 12px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.product-page-wrapper{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.product-info-wrapper{
    width: 55rem;
    gap: 6.1875rem;
    display: flex;
    flex-flow: row nowrap;
}

.product-info{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.product-info-buttons{
    display: flex;
    gap: 1rem;
    flex-direction: row;
}


/* Test Animation for header */
@keyframes headerHoverAnimation {
    0% {box-shadow: 0px 0px 0px #28313312;}
    100% {box-shadow: 0px 5px 5px #28313312;}
}

/* Screensizes are mainly taken from Material Design, since I designed my screens with it. */

/* Compact (XS) (Smartphone Screensize) */
@media screen and (max-width: 38em) {

    .nav-logo-L{
        display: none;
    }

    #nav-tabs{
        display: none;
    }

    #switch{
        display: none;
    }

    #profile-button{
        display: none;
    }

    .sticker-grid {
        grid-template-columns: 1fr;
    }

    .hero{
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 1rem;
        padding: 1.5rem 1rem 2.625rem 1rem;
        border: 0px solid #283133;
    }

    .hero>div>h1{
        font-size: 36px;
    }
    .hero>div>h3{
        font-size: 16px;
        line-height: 24px;
    }

    .plans-grid{
        width: 18rem;
        gap: 3.75rem;
    }

    .plan-step{
        flex-direction: column;
    }

    .plan-step>div{
        width: 18rem;
    }
    .plan-step>img{
        width: 18rem;
        height: 10.60475rem;
    }

    .product-page-wrapper>h1{
        text-align: center;
    }

    .product-info-wrapper{
        width: 18rem;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .product-info-wrapper>img{
        width: 18rem;
        height: 18rem;
    }
}

/* Medium (M) (Tablet Screensize) */
@media screen and (min-width: 38em) and (max-width: 80em) {

    .nav-logo-L{
        display: none;
    }
    
    #profile-button{
        display: none;
    }

    #switch{
        display: none;
    }

    .sticker-grid {
        grid-template-columns: 1fr 1fr;
    }
    
    .plans-grid{
        width: 26.75rem;
        gap: 3.75rem;
    }

    .plan-step{
        flex-direction: column;
    }

    .plan-step>div{
        width: 26.75rem;
    }

    .product-info-wrapper{
        width: 33.5rem;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .product-info-wrapper>img{
        width: 24.875rem;
        height: 24.875rem;
    }
}

/* Large (L) (Desktop Screensize) */
@media screen and (min-width: 80em) {

    .nav-logo-XS-M{
        display: none;
    }

    #menu-button {
        display: none;
    }

    .hero{
        margin-left: 16%;
        margin-right: 16%;
    }
}

/* Planned future size: Very Large (XL) (Widescreen etc.) */